:root {
  --primary: #1aac83;
  --selected: rgb(2, 69, 255);
  --selected-hover: rgb(86, 131, 255);
  --error: #e7195a;
}

.green {
  color: green;
}

.red {
  color: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lbl {
  text-align: right;
  width: 100px;
  white-space: nowrap;
}

.fld {
  width: 100%;
}

.frm {
  display: inline-block;
}

.task {
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  text-align: left;
  margin: 20px auto;
  padding: 10px;
}

.task span {
  position: absolute;
  top: 30px;
  right: 40px;
}

.quiz {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.quiz .score {
  margin: auto;
  font-size: 2cm;
  font-weight: 600;
}

.pages {
  margin: 0 auto;
  max-width: 90%;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

.admin {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.admin-choices {
  display: grid;
  grid-template-columns: 45px auto;
  grid-gap: 5px;
}

.question-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.question-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.question-details {
  background: #fff;
  border-radius: 4px;
  margin: 10px auto;

  text-align: left;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.question-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Nunito;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

header {
  background: #fff;
}

header .container {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

label,
input {
  display: block;
}

input,
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  margin: auto 5px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.choices button {
  transition: 200ms;
  margin: 5px 8px;
}

.choices .open {
  background-color: white;
  border: 1px solid var(--selected);
  color: var(--selected);
  font-size: large;
}

.choices .open:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}

.choices .closed:hover {
  background-color: var(--selected-hover);
  border: 1px solid white;
}

.choices .closed {
  background-color: var(--selected);
  border: 1px solid var(--selected);
  color: white;
  font-size: large;
}

.choices {
  margin: 11px;
}